<h1>All recipes</h1>
<table>
  <thead>
    <th>Name</th>
    <th>ingredients</th>
    <th>cook_time</th>
  </thead>
  <tbody>
    <% @recipes.each do |r| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.ingredients %></td>
        <td><%= c.cook_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
