<h1>All recipes</h1>
<table>
  <thead>
    <th>Name</th>
    <th>ingredients</th>
    <th>cook_time</th>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>ingredients</td>
      <td>cook_time</td>
    </tr>
  </tbody>
</table>
